.App {
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.form{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  justify-content: space-between;
  color: white;
}
.edit{
  background-color: #ff8d64; /* Red color for delete button */
  color: #fff; /* Text color */
  border: none;
  padding: 8px 16px;
  margin: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ffe046; 
  }


  &:focus,
  &:active {
    outline: none;
    
  }
}
.delete-button {
  background-color: #ff6464; /* Red color for delete button */
  color: #fff; /* Text color */
  border: none;
  padding: 8px 16px;
  margin: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;

  /* Optional: Add hover effect */
  &:hover {
    background-color: #ff4646; /* Darker red on hover */
  }

  /* Optional: Add more styling for focus and active states if needed */
  &:focus,
  &:active {
    outline: none;
    
  }
}


